body {
    text-align: center;
  
    font-size: x-large;
}

/*h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}*/

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 100px;
}

    #header {
        transition: color 0.5s ease-in-out; /* Define the transition property */
      }
           
       #header {
        background: radial-gradient(circle,orange ,#0000ff,black); /* Define the radial gradient */
        -webkit-background-clip: text; /* Add vendor prefixes for browser compatibility */
        -moz-background-clip: text;
        background-clip: text;
        color: transparent; /* Set the text color to transparent to reveal the gradient */
      }
      
      
